In [1]:
!pip install matplotlib

%matplotlib inline

Requirement already satisfied: matplotlib in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (3.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from matplotlib) (1.16.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: six>=1.5 in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /Users/kosmas/.pyenv/versions/3.7.1/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (39.0.1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_excel("/Users/kosmas/Desktop/Columbia_Data_Studio_Projects/data-studio-projects/Weekly projects/Fires_in Greece/DasikesPyrkagies2018v1.4.xlsx")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,ΟΧΗΜΑΤΑ,Unnamed: 24,Unnamed: 25,Unnamed: 26,ΕΝΑΕΡΙΑ,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Υπηρεσία,Νομός,Ημερ/νία Έναρξης,Ώρα Έναρξης,Ημερ/νία Κατασβεσης,Ώρα Κατάσβεσης,Δασαρχείο,Δήμος,Περιοχή,Διεύθυνση,...,ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ. ΟΧΗΜ.,ΟΧΗΜ. ΟΤΑ,ΒΥΤΙΟ- ΦΟΡΑ,ΜΗΧΑΝΗ-ΜΑΤΑ,ΕΛΙΚΟ- ΠΤΕΡΑ,Α/Φ CL415,Α/Φ CL215,Α/Φ PZL,Α/Φ GRU.
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,NaN,Δ. ΩΡΩΠΟΥ,NaN,ΘΕΣΗ ΚΑΚΩΣΙ - ΒΛΑΣΤΟΣ,...,0,2,0,0,0,0,0,0,0,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΟΛΥΜΠΙΚΑΣ Κ' ΔΕΞΑΜΕΝΗΣ ΑΝΩ ΠΑΝΟΡΑΜΑ-ΑΓ.ΑΠΟΣΤ,...,12,7,15,2,0,0,1,0,0,0
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,NaN,Δ. ΩΡΩΠΟΥ,ΑΦΙΔΝΕΣ,ΑΦΙΔΝΑΙ,...,0,4,0,0,0,0,1,0,0,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΘΕΣΗ ΑΓΙΑ ΤΡΙΑΔΑ-ΟΔΟΣ ΑΓΙΑΣ ΤΡΙΑΔΑΣ,...,5,3,6,1,2,0,0,0,0,0