In [116]:
%matplotlib inline

In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [118]:
df = pd.read_excel("/Users/kosmas/Desktop/Columbia_Data_Studio_Projects/data-studio-projects/Weekly projects/Fires_in Greece/DasikesPyrkagies2018v1.4.xlsx")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ΚΑΜΜΕΝΗ ΕΚΤΑΣΗ (Σε Στρέμματα),Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,ΠΡΟΣΩΠΙΚΟ,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,ΟΧΗΜΑΤΑ,Unnamed: 24,Unnamed: 25,Unnamed: 26,ΕΝΑΕΡΙΑ,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Υπηρεσία,Νομός,Ημερ/νία Έναρξης,Ώρα Έναρξης,Ημερ/νία Κατασβεσης,Ώρα Κατάσβεσης,Δασαρχείο,Δήμος,Περιοχή,Διεύθυνση,Δάση,Δασική Έκταση,Άλση,Χορτ/κές Εκτάσεις,Καλάμια - Βάλτοι,Γεωργικές Εκτάσεις,Υπολλείματα Καλλιεργειών,Σκουπι-δότοποι,ΠΥΡΟΣ. ΣΩΜΑ,ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ,ΕΘΕΛΟ-ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ. ΟΧΗΜ.,ΟΧΗΜ. ΟΤΑ,ΒΥΤΙΟ- ΦΟΡΑ,ΜΗΧΑΝΗ-ΜΑΤΑ,ΕΛΙΚΟ- ΠΤΕΡΑ,Α/Φ CL415,Α/Φ CL215,Α/Φ PZL,Α/Φ GRU.
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,NaN,Δ. ΩΡΩΠΟΥ,NaN,ΘΕΣΗ ΚΑΚΩΣΙ - ΒΛΑΣΤΟΣ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΟΛΥΜΠΙΚΑΣ Κ' ΔΕΞΑΜΕΝΗΣ ΑΝΩ ΠΑΝΟΡΑΜΑ-ΑΓ.ΑΠΟΣΤ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,NaN,Δ. ΩΡΩΠΟΥ,ΑΦΙΔΝΕΣ,ΑΦΙΔΝΑΙ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΘΕΣΗ ΑΓΙΑ ΤΡΙΑΔΑ-ΟΔΟΣ ΑΓΙΑΣ ΤΡΙΑΔΑΣ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0

In [119]:
pd.set_option('display.max_columns', None)

In [120]:
df.dtypes

Unnamed: 0                       object
Unnamed: 1                       object
Unnamed: 2                       object
Unnamed: 3                       object
Unnamed: 4                       object
Unnamed: 5                       object
Unnamed: 6                       object
Unnamed: 7                       object
Unnamed: 8                       object
Unnamed: 9                       object
ΚΑΜΜΕΝΗ ΕΚΤΑΣΗ (Σε Στρέμματα)    object
Unnamed: 11                      object
Unnamed: 12                      object
Unnamed: 13                      object
Unnamed: 14                      object
Unnamed: 15                      object
Unnamed: 16                      object
Unnamed: 17                      object
ΠΡΟΣΩΠΙΚΟ                        object
Unnamed: 19                      object
Unnamed: 20                      object
Unnamed: 21                      object
Unnamed: 22                      object
ΟΧΗΜΑΤΑ                          object
Unnamed: 24                      object
Unnamed: 25                      object
Unnamed: 26                      object
ΕΝΑΕΡΙΑ                          object
Unnamed: 28                      object
Unnamed: 29                      object
Unnamed: 30                      object
Unnamed: 31                      object
dtype: object

In [121]:
df.shape

(8007, 32)

In [122]:
df = df.rename(index=str, columns={'Unnamed: 2': 'Ημερνία_Εναρξης',
                                   'Unnamed: 4': 'Ημερνια_Κατασβεσης',
                                   'Unnamed: 0': 'Υρεσια',
                                   'Unnamed: 1': 'Νομός',
                                   'Unnamed: 3': 'ωρα_Έναρξης',
                                   'Unnamed: 5': 'ωρα_Κατάσβεσης',
                                   'ΚΑΜΜΕΝΗ ΕΚΤΑΣΗ (Σε Στρέμματα)': 'Καμμένες_Εκτάσεις',
                                   'Unnamed: 11': 'Δασική_Έκταση', 
                                   'Unnamed: 12': 'Άλση', 
                                   'Unnamed: 13': 'Χορτκές_Εκτάσεις',
                                   'Unnamed: 14': 'Καλάμια_Βάλτοι', 
                                   'Unnamed: 15': 'Γεωργικές_Εκτάσεις', 
                                   'Unnamed: 16': 'Υπολλείματα_Καλλιεργειών', 
                                   'Unnamed: 17': 'Σκουπιδότοποι',
                                   'ΠΡΟΣΩΠΙΚΟ': 'ΠΥΡΟΣ_ΣΩΜΑ',
                                   'Unnamed: 19': 'ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ',
                                   'Unnamed: 20': 'ΕΘΕΛΟ_ΝΤΕΣ',
                                   'Unnamed: 21': 'ΣΤΡΑΤΟΣ',
                                   'Unnamed: 22': 'ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ',
                                   'ΟΧΗΜΑΤΑ': 'ΠΥΡΟΣ_ΟΧΗΜ',
                                   'Unnamed: 24': 'ΟΧΗΜ_ΟΤΑ',
                                   'Unnamed: 25': 'ΒΥΤΙΟ_ΦΟΡΑ',
                                   'Unnamed: 26': 'ΜΗΧΑΝΗ_ΜΑΤΑ',
                                   'ΕΝΑΕΡΙΑ': 'ΕΛΙΚΟ_ΠΤΕΡΑ',
                                   'Unnamed: 28': 'Α_Φ_CL415',
                                   'Unnamed: 29': 'Α_Φ_CL215',
                                   'Unnamed: 30': 'Α_Φ_PZL',
                                   'Unnamed: 31': 'Α_Φ_GRU'})
df.head()

,Υρεσια,Νομός,Ημερνία_Εναρξης,ωρα_Έναρξης,Ημερνια_Κατασβεσης,ωρα_Κατάσβεσης,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU
0,Υπηρεσία,Νομός,Ημερ/νία Έναρξης,Ώρα Έναρξης,Ημερ/νία Κατασβεσης,Ώρα Κατάσβεσης,Δασαρχείο,Δήμος,Περιοχή,Διεύθυνση,Δάση,Δασική Έκταση,Άλση,Χορτ/κές Εκτάσεις,Καλάμια - Βάλτοι,Γεωργικές Εκτάσεις,Υπολλείματα Καλλιεργειών,Σκουπι-δότοποι,ΠΥΡΟΣ. ΣΩΜΑ,ΠΕΖΟΠΟΡΑ ΤΜΗΜΑΤΑ,ΕΘΕΛΟ-ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ. ΟΧΗΜ.,ΟΧΗΜ. ΟΤΑ,ΒΥΤΙΟ- ΦΟΡΑ,ΜΗΧΑΝΗ-ΜΑΤΑ,ΕΛΙΚΟ- ΠΤΕΡΑ,Α/Φ CL415,Α/Φ CL215,Α/Φ PZL,Α/Φ GRU.
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,NaN,Δ. ΩΡΩΠΟΥ,NaN,ΘΕΣΗ ΚΑΚΩΣΙ - ΒΛΑΣΤΟΣ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΟΛΥΜΠΙΚΑΣ Κ' ΔΕΞΑΜΕΝΗΣ ΑΝΩ ΠΑΝΟΡΑΜΑ-ΑΓ.ΑΠΟΣΤ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,NaN,Δ. ΩΡΩΠΟΥ,ΑΦΙΔΝΕΣ,ΑΦΙΔΝΑΙ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΘΕΣΗ ΑΓΙΑ ΤΡΙΑΔΑ-ΟΔΟΣ ΑΓΙΑΣ ΤΡΙΑΔΑΣ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0

In [123]:
df.dtypes

Υρεσια                      object
Νομός                       object
Ημερνία_Εναρξης             object
ωρα_Έναρξης                 object
Ημερνια_Κατασβεσης          object
ωρα_Κατάσβεσης              object
Unnamed: 6                  object
Unnamed: 7                  object
Unnamed: 8                  object
Unnamed: 9                  object
Καμμένες_Εκτάσεις           object
Δασική_Έκταση               object
Άλση                        object
Χορτκές_Εκτάσεις            object
Καλάμια_Βάλτοι              object
Γεωργικές_Εκτάσεις          object
Υπολλείματα_Καλλιεργειών    object
Σκουπιδότοποι               object
ΠΥΡΟΣ_ΣΩΜΑ                  object
ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ            object
ΕΘΕΛΟ_ΝΤΕΣ                  object
ΣΤΡΑΤΟΣ                     object
ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ              object
ΠΥΡΟΣ_ΟΧΗΜ                  object
ΟΧΗΜ_ΟΤΑ                    object
ΒΥΤΙΟ_ΦΟΡΑ                  object
ΜΗΧΑΝΗ_ΜΑΤΑ                 object
ΕΛΙΚΟ_ΠΤΕΡΑ                 object
Α_Φ_CL415                   object
Α_Φ_CL215                   object
Α_Φ_PZL                     object
Α_Φ_GRU                     object
dtype: object

In [124]:
df = df.drop(['0'])

In [125]:
df.head()

,Υρεσια,Νομός,Ημερνία_Εναρξης,ωρα_Έναρξης,Ημερνια_Κατασβεσης,ωρα_Κατάσβεσης,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,NaN,Δ. ΩΡΩΠΟΥ,NaN,ΘΕΣΗ ΚΑΚΩΣΙ - ΒΛΑΣΤΟΣ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΟΛΥΜΠΙΚΑΣ Κ' ΔΕΞΑΜΕΝΗΣ ΑΝΩ ΠΑΝΟΡΑΜΑ-ΑΓ.ΑΠΟΣΤ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,NaN,Δ. ΩΡΩΠΟΥ,ΑΦΙΔΝΕΣ,ΑΦΙΔΝΑΙ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,NaN,Δ. ΩΡΩΠΟΥ,ΚΑΛΑΜΟΣ,ΘΕΣΗ ΑΓΙΑ ΤΡΙΑΔΑ-ΟΔΟΣ ΑΓΙΑΣ ΤΡΙΑΔΑΣ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,2018-05-23 00:00:00,17:36,2018-05-23 00:00:00,18:10,ΠΕΝΤΕΛΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,NaN,ΤΕΡΜΑ ΟΔΟΥ ΚΑΡΑΜΟΛΕΓΚΟΥ (ΕΝΑΝΤΙ ΠΥΡΟΦΥΛΑΚΕΙΟΥ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0

In [126]:
df.shape

(8006, 32)

In [127]:
df = df.drop(columns=['Unnamed: 6','Unnamed: 8', 'Unnamed: 9'])

In [128]:
df.head()

,Υρεσια,Νομός,Ημερνία_Εναρξης,ωρα_Έναρξης,Ημερνια_Κατασβεσης,ωρα_Κατάσβεσης,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,Δ. ΩΡΩΠΟΥ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,2018-05-23 00:00:00,17:36,2018-05-23 00:00:00,18:10,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0

In [129]:
df.shape

(8006, 29)

In [130]:
df = df.dropna()

In [131]:
df.shape

(6691, 29)

In [132]:
df['start_daytime'] = df['Ημερνία_Εναρξης'].map(str) + df['ωρα_Έναρξης']
df['end_daytime'] = df['Ημερνια_Κατασβεσης'].map(str) + df['ωρα_Κατάσβεσης']

In [133]:
df.head()

,Υρεσια,Νομός,Ημερνία_Εναρξης,ωρα_Έναρξης,Ημερνια_Κατασβεσης,ωρα_Κατάσβεσης,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU,start_daytime,end_daytime
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 00:00:0012:06,2018-05-29 00:00:0018:30
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 00:00:0019:00,2018-07-31 00:00:0010:18
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,Δ. ΩΡΩΠΟΥ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 00:00:0015:30,2018-08-27 00:00:0007:55
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 00:00:0020:10,2018-11-08 00:00:0021:10
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,2018-05-23 00:00:00,17:36,2018-05-23 00:00:00,18:10,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 00:00:0017:36,2018-05-23 00:00:0018:10

In [134]:
df['start_daytime'] = df['start_daytime'].str.replace('00:00:00', '')
df['end_daytime'] = df['end_daytime'].str.replace('00:00:00', '')

In [135]:
df.head()

,Υρεσια,Νομός,Ημερνία_Εναρξης,ωρα_Έναρξης,Ημερνια_Κατασβεσης,ωρα_Κατάσβεσης,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU,start_daytime,end_daytime
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-05-29 00:00:00,12:06,2018-05-29 00:00:00,18:30,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06,2018-05-29 18:30
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-07-23 00:00:00,19:00,2018-07-31 00:00:00,10:18,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00,2018-07-31 10:18
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-08-26 00:00:00,15:30,2018-08-27 00:00:00,07:55,Δ. ΩΡΩΠΟΥ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30,2018-08-27 07:55
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,2018-11-07 00:00:00,20:10,2018-11-08 00:00:00,21:10,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10,2018-11-08 21:10
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,2018-05-23 00:00:00,17:36,2018-05-23 00:00:00,18:10,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36,2018-05-23 18:10

In [136]:
df = df.drop(columns=['Ημερνία_Εναρξης','ωρα_Έναρξης', 'Ημερνια_Κατασβεσης', 'ωρα_Κατάσβεσης'])
df.head()

,Υρεσια,Νομός,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU,start_daytime,end_daytime
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06,2018-05-29 18:30
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00,2018-07-31 10:18
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0.1,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30,2018-08-27 07:55
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1.5,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10,2018-11-08 21:10
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36,2018-05-23 18:10

In [137]:
df['start_daytime'] = pd.to_datetime(df['start_daytime'])
df['end_daytime'] = pd.to_datetime(df['end_daytime'])

In [138]:
df['Καμμένες_Εκτάσεις'] = df['Καμμένες_Εκτάσεις'].astype(int)
df['Δασική_Έκταση'] = df['Δασική_Έκταση'].astype(int)
df['Άλση'] = df['Άλση'].astype(int)
df['Χορτκές_Εκτάσεις'] = df['Χορτκές_Εκτάσεις'].astype(int)
df['Καλάμια_Βάλτοι'] = df['Καλάμια_Βάλτοι'].astype(int)
df['Γεωργικές_Εκτάσεις'] = df['Γεωργικές_Εκτάσεις'].astype(int)
df['Υπολλείματα_Καλλιεργειών'] = df['Υπολλείματα_Καλλιεργειών'].astype(int)
df['Σκουπιδότοποι'] = df['Σκουπιδότοποι'].astype(int)
df['ΠΥΡΟΣ_ΣΩΜΑ'] = df['ΠΥΡΟΣ_ΣΩΜΑ'].astype(int)
df['ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ'] = df['ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ'].astype(int)
df['ΕΘΕΛΟ_ΝΤΕΣ'] = df['ΕΘΕΛΟ_ΝΤΕΣ'].astype(int)
df['ΣΤΡΑΤΟΣ'] = df['ΣΤΡΑΤΟΣ'].astype(int)
df['ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ'] = df['ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ'].astype(int)
df['ΠΥΡΟΣ_ΟΧΗΜ'] = df['ΠΥΡΟΣ_ΟΧΗΜ'].astype(int)
df['ΟΧΗΜ_ΟΤΑ'] = df['ΟΧΗΜ_ΟΤΑ'].astype(int)
df['ΒΥΤΙΟ_ΦΟΡΑ'] = df['ΒΥΤΙΟ_ΦΟΡΑ'].astype(int)
df['ΜΗΧΑΝΗ_ΜΑΤΑ'] = df['ΜΗΧΑΝΗ_ΜΑΤΑ'].astype(int)
df['ΕΛΙΚΟ_ΠΤΕΡΑ'] = df['ΕΛΙΚΟ_ΠΤΕΡΑ'].astype(int)
df['ΜΗΧΑΝΗ_ΜΑΤΑ'] = df['ΜΗΧΑΝΗ_ΜΑΤΑ'].astype(int)
df['Α_Φ_CL415'] = df['Α_Φ_CL415'].astype(int)
df['Α_Φ_CL215'] = df['Α_Φ_CL215'].astype(int)
df['Α_Φ_PZL'] = df['Α_Φ_PZL'].astype(int)
df['Α_Φ_GRU'] = df['Α_Φ_GRU'].astype(int)

In [139]:
df.dtypes

Υρεσια                              object
Νομός                               object
Unnamed: 7                          object
Καμμένες_Εκτάσεις                    int64
Δασική_Έκταση                        int64
Άλση                                 int64
Χορτκές_Εκτάσεις                     int64
Καλάμια_Βάλτοι                       int64
Γεωργικές_Εκτάσεις                   int64
Υπολλείματα_Καλλιεργειών             int64
Σκουπιδότοποι                        int64
ΠΥΡΟΣ_ΣΩΜΑ                           int64
ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ                     int64
ΕΘΕΛΟ_ΝΤΕΣ                           int64
ΣΤΡΑΤΟΣ                              int64
ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ                       int64
ΠΥΡΟΣ_ΟΧΗΜ                           int64
ΟΧΗΜ_ΟΤΑ                             int64
ΒΥΤΙΟ_ΦΟΡΑ                           int64
ΜΗΧΑΝΗ_ΜΑΤΑ                          int64
ΕΛΙΚΟ_ΠΤΕΡΑ                          int64
Α_Φ_CL415                            int64
Α_Φ_CL215                            int64
Α_Φ_PZL                              int64
Α_Φ_GRU                              int64
start_daytime               datetime64[ns]
end_daytime                 datetime64[ns]
dtype: object

In [140]:
df['difference'] = df.end_daytime - df.start_daytime
df.head()

,Υρεσια,Νομός,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU,start_daytime,end_daytime,difference
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06:00,2018-05-29 18:30:00,0 days 06:24:00
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00:00,2018-07-31 10:18:00,7 days 15:18:00
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30:00,2018-08-27 07:55:00,0 days 16:25:00
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10:00,2018-11-08 21:10:00,1 days 01:00:00
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36:00,2018-05-23 18:10:00,0 days 00:34:00

In [141]:
df['wait_days'] = df['difference'].dt.components['days'] + \
                  df['difference'].dt.components['hours'] / 24
df.head()

,Υρεσια,Νομός,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU,start_daytime,end_daytime,difference,wait_days
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06:00,2018-05-29 18:30:00,0 days 06:24:00,0.250000
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00:00,2018-07-31 10:18:00,7 days 15:18:00,7.625000
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30:00,2018-08-27 07:55:00,0 days 16:25:00,0.666667
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10:00,2018-11-08 21:10:00,1 days 01:00:00,1.041667
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36:00,2018-05-23 18:10:00,0 days 00:34:00,0.000000

In [142]:
df['total_burned_acres'] = df.apply(lambda row: row.Καμμένες_Εκτάσεις +
                                 row.Δασική_Έκταση + 
                                 row.Άλση + 
                                 row.Χορτκές_Εκτάσεις + 
                                 row.Καλάμια_Βάλτοι + 
                                 row.Γεωργικές_Εκτάσεις + 
                                 row.Υπολλείματα_Καλλιεργειών + 
                                 row.Σκουπιδότοποι, axis=1)

In [143]:
df.head()

,Υρεσια,Νομός,Unnamed: 7,Καμμένες_Εκτάσεις,Δασική_Έκταση,Άλση,Χορτκές_Εκτάσεις,Καλάμια_Βάλτοι,Γεωργικές_Εκτάσεις,Υπολλείματα_Καλλιεργειών,Σκουπιδότοποι,ΠΥΡΟΣ_ΣΩΜΑ,ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ,ΕΘΕΛΟ_ΝΤΕΣ,ΣΤΡΑΤΟΣ,ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ,ΠΥΡΟΣ_ΟΧΗΜ,ΟΧΗΜ_ΟΤΑ,ΒΥΤΙΟ_ΦΟΡΑ,ΜΗΧΑΝΗ_ΜΑΤΑ,ΕΛΙΚΟ_ΠΤΕΡΑ,Α_Φ_CL415,Α_Φ_CL215,Α_Φ_PZL,Α_Φ_GRU,start_daytime,end_daytime,difference,wait_days,total_burned_acres
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06:00,2018-05-29 18:30:00,0 days 06:24:00,0.250000,3
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00:00,2018-07-31 10:18:00,7 days 15:18:00,7.625000,650
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30:00,2018-08-27 07:55:00,0 days 16:25:00,0.666667,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10:00,2018-11-08 21:10:00,1 days 01:00:00,1.041667,1
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36:00,2018-05-23 18:10:00,0 days 00:34:00,0.000000,10

In [144]:
df.shape

(6691, 30)

In [145]:
df = df.rename(index=str, columns={'Υρεσια': 'Fire_department',
                                   'Νομός': 'region',
                                   'Unnamed: 7': 'borough',
                                   'Καμμένες_Εκτάσεις':'burned_forests1',
                                   'Δασική_Έκταση':'burned_forests2', 
                                   'Άλση':'burned_forests3', 
                                   'Χορτκές_Εκτάσεις':'burned_fields',
                                   'Καλάμια_Βάλτοι':'burned_swamp', 
                                   'Γεωργικές_Εκτάσεις':'burned_Agricultural', 
                                   'Υπολλείματα_Καλλιεργειών':'burned_Agricultural2', 
                                   'Σκουπιδότοποι':'burned_garbage_disposal_sites',
                                   'ΠΥΡΟΣ_ΣΩΜΑ':'firefighters',
                                   'ΠΕΖΟΠΟΡΑ_ΤΜΗΜΑΤΑ':'firefighters2',
                                   'ΕΘΕΛΟ_ΝΤΕΣ':'volunt_firefighters',
                                   'ΣΤΡΑΤΟΣ':'military_forces',
                                   'ΑΛΛΕΣ_ΔΥΝΑΜΕΙΣ':'other_forces',
                                   'ΠΥΡΟΣ_ΟΧΗΜ':'Fire_trucks',
                                   'ΟΧΗΜ_ΟΤΑ':'other_fire_vehicles',
                                   'ΒΥΤΙΟ_ΦΟΡΑ':'fire_tankers',
                                   'ΜΗΧΑΝΗ_ΜΑΤΑ':'fire_equipent',
                                   'ΕΛΙΚΟ_ΠΤΕΡΑ':'helicopters',
                                   'Α_Φ_CL415':'fire_plane_type1',
                                   'Α_Φ_CL215':'fire_plane_type2',
                                   'Α_Φ_PZL':'fire_plane_type3',
                                   'Α_Φ_GRU':'fire_plane_type4'})
df.head()

,Fire_department,region,borough,burned_forests1,burned_forests2,burned_forests3,burned_fields,burned_swamp,burned_Agricultural,burned_Agricultural2,burned_garbage_disposal_sites,firefighters,firefighters2,volunt_firefighters,military_forces,other_forces,Fire_trucks,other_fire_vehicles,fire_tankers,fire_equipent,helicopters,fire_plane_type1,fire_plane_type2,fire_plane_type3,fire_plane_type4,start_daytime,end_daytime,difference,wait_days,total_burned_acres
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06:00,2018-05-29 18:30:00,0 days 06:24:00,0.250000,3
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00:00,2018-07-31 10:18:00,7 days 15:18:00,7.625000,650
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30:00,2018-08-27 07:55:00,0 days 16:25:00,0.666667,0
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10:00,2018-11-08 21:10:00,1 days 01:00:00,1.041667,1
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36:00,2018-05-23 18:10:00,0 days 00:34:00,0.000000,10

In [146]:
df.shape

(6691, 30)

In [147]:
df['total_firefight_personnel'] = df.apply(lambda row: row.firefighters + row.firefighters2 + row.volunt_firefighters + row.military_forces + row.other_forces , axis=1)
df['total_terrestrial_forces'] = df.apply(lambda row: row.Fire_trucks + row.other_fire_vehicles + row.fire_tankers + row.fire_equipent, axis=1)
df['total_aerial_forces'] = df.apply(lambda row: row.helicopters + row.fire_plane_type1 + row.fire_plane_type2 + row.fire_plane_type3 + row.fire_plane_type4, axis=1)

In [149]:
df.head()

,Fire_department,region,borough,burned_forests1,burned_forests2,burned_forests3,burned_fields,burned_swamp,burned_Agricultural,burned_Agricultural2,burned_garbage_disposal_sites,firefighters,firefighters2,volunt_firefighters,military_forces,other_forces,Fire_trucks,other_fire_vehicles,fire_tankers,fire_equipent,helicopters,fire_plane_type1,fire_plane_type2,fire_plane_type3,fire_plane_type4,start_daytime,end_daytime,difference,wait_days,total_burned_acres,total_firefight_personnel,total_terrestrial_forces,total_aerial_forces
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,3,0,0,6,0,2,0,0,2,0,0,0,0,0,0,0,0,2018-05-29 12:06:00,2018-05-29 18:30:00,0 days 06:24:00,0.250000,3,8,2,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,150,0,150,0,350,0,0,21,6,30,0,12,7,15,2,0,0,1,0,0,0,2018-07-23 19:00:00,2018-07-31 10:18:00,7 days 15:18:00,7.625000,650,69,24,1
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,0,0,15,1,26,0,0,4,0,0,0,0,1,0,0,0,2018-08-26 15:30:00,2018-08-27 07:55:00,0 days 16:25:00,0.666667,0,42,4,1
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,0,0,0,0,0,0,1,0,6,0,12,0,5,3,6,1,2,0,0,0,0,0,2018-11-07 20:10:00,2018-11-08 21:10:00,1 days 01:00:00,1.041667,1,23,12,0
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,0,10,0,0,0,0,0,0,13,0,10,0,0,5,4,0,0,0,0,0,0,0,2018-05-23 17:36:00,2018-05-23 18:10:00,0 days 00:34:00,0.000000,10,23,9,0

In [150]:
df.shape

(6691, 33)

In [151]:
df = df.drop(columns=['burned_forests1',
                      'burned_forests2', 
                      'burned_forests3', 
                      'burned_fields',
                      'burned_swamp',
                      'burned_Agricultural',
                      'burned_Agricultural2',
                      'burned_garbage_disposal_sites',
                      'firefighters',
                      'firefighters2',
                      'volunt_firefighters',
                      'military_forces',
                      'other_forces', 
                      'Fire_trucks',
                      'other_fire_vehicles',
                      'fire_tankers',
                      'fire_equipent',
                      'helicopters',
                      'fire_plane_type1', 
                      'fire_plane_type2',
                      'fire_plane_type3',
                      'fire_plane_type4'])

In [153]:
df.to_csv('data_fire_final.csv')

## This is my final dataframe

In [154]:
df.head()

,Fire_department,region,borough,start_daytime,end_daytime,difference,wait_days,total_burned_acres,total_firefight_personnel,total_terrestrial_forces,total_aerial_forces
1,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,2018-05-29 12:06:00,2018-05-29 18:30:00,0 days 06:24:00,0.250000,3,8,2,0
2,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,2018-07-23 19:00:00,2018-07-31 10:18:00,7 days 15:18:00,7.625000,650,69,24,1
3,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,2018-08-26 15:30:00,2018-08-27 07:55:00,0 days 16:25:00,0.666667,0,42,4,1
4,Π.Κ. ΚΑΛΑΜΟΥ,ΑΤΤΙΚΗΣ,Δ. ΩΡΩΠΟΥ,2018-11-07 20:10:00,2018-11-08 21:10:00,1 days 01:00:00,1.041667,1,23,12,0
5,1ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,Δ. ΚΑΙΣΑΡΙΑΝΗΣ,2018-05-23 17:36:00,2018-05-23 18:10:00,0 days 00:34:00,0.000000,10,23,9,0

In [67]:
df.shape

(6691, 13)

## Total number of fire incidents per region

In [37]:
df.region.value_counts()

ΛΑΡΙΣΑΣ             519
ΜΕΣΣΗΝΙΑΣ           450
ΗΛΕΙΑΣ              425
ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ    293
ΑΧΑΙΑΣ              264
ΚΙΛΚΙΣ              260
ΡΟΔΟΠΗΣ             249
ΚΑΡΔΙΤΣΑΣ           217
ΠΕΛΛΑΣ              211
ΗΡΑΚΛΕΙΟΥ           211
ΘΕΣΣΑΛΟΝΙΚΗΣ        198
ΕΥΒΟΙΑΣ             195
ΕΒΡΟΥ               180
ΚΕΡΚΥΡΑΣ            170
ΚΑΒΑΛΑΣ             160
ΚΕΦΑΛΛΟΝΙΑΣ         140
ΛΑΚΩΝΙΑΣ            137
ΠΙΕΡΙΑΣ             130
ΗΜΑΘΙΑΣ             128
ΑΤΤΙΚΗΣ             122
ΑΡΤΑΣ               117
ΞΑΝΘΗΣ              115
ΑΡΚΑΔΙΑΣ            113
ΡΕΘΥΜΝΟΥ            109
ΔΡΑΜΑΣ              105
ΒΟΙΩΤΙΑΣ            102
ΦΘΙΩΤΙΔΑΣ            99
ΛΕΣΒΟΥ               94
ΜΑΓΝΗΣΙΑΣ            93
ΚΥΚΛΑΔΩΝ             92
ΣΑΜΟΥ                84
ΤΡΙΚΑΛΩΝ             82
ΚΟΖΑΝΗΣ              74
ΘΕΣΠΡΩΤΙΑΣ           73
ΚΟΡΙΝΘΙΑΣ            71
ΣΕΡΡΩΝ               70
ΙΩΑΝΝΙΝΩΝ            69
ΔΩΔΕΚΑΝΗΣΩΝ          64
ΧΑΝΙΩΝ               59
ΖΑΚΥΝΘΟΥ             58
ΚΑΣΤΟΡΙΑΣ            56
ΠΡΕΒΕΖΗΣ             42
ΓΡΕΒΕΝΩΝ             39
ΛΑΣΙΘΙΟΥ             33
ΦΛΩΡΙΝΑΣ             32
ΛΕΥΚΑΔΟΣ             27
ΦΩΚΙΔΟΣ              25
ΧΙΟΥ                 20
ΧΑΛΚΙΔΙΚΗΣ           11
ΕΥΡΥΤΑΝΙΑΣ            3
ΑΡΓΟΛΙΔΟΣ             1
Name: region, dtype: int64

## Number of total firefight personnel used, per region

In [48]:
df.groupby('region').total_firefight_personel.sum()

region
ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ    1759
ΑΡΓΟΛΙΔΟΣ              0
ΑΡΚΑΔΙΑΣ             833
ΑΡΤΑΣ                629
ΑΤΤΙΚΗΣ             2703
ΑΧΑΙΑΣ              1415
ΒΟΙΩΤΙΑΣ             216
ΓΡΕΒΕΝΩΝ             296
ΔΡΑΜΑΣ               437
ΔΩΔΕΚΑΝΗΣΩΝ          724
ΕΒΡΟΥ               1094
ΕΥΒΟΙΑΣ             2526
ΕΥΡΥΤΑΝΙΑΣ            20
ΖΑΚΥΝΘΟΥ             377
ΗΛΕΙΑΣ              3110
ΗΜΑΘΙΑΣ              438
ΗΡΑΚΛΕΙΟΥ           1170
ΘΕΣΠΡΩΤΙΑΣ           338
ΘΕΣΣΑΛΟΝΙΚΗΣ        1271
ΙΩΑΝΝΙΝΩΝ            650
ΚΑΒΑΛΑΣ              304
ΚΑΡΔΙΤΣΑΣ            548
ΚΑΣΤΟΡΙΑΣ            362
ΚΕΡΚΥΡΑΣ            1022
ΚΕΦΑΛΛΟΝΙΑΣ          939
ΚΙΛΚΙΣ               937
ΚΟΖΑΝΗΣ              500
ΚΟΡΙΝΘΙΑΣ            859
ΚΥΚΛΑΔΩΝ             601
ΛΑΚΩΝΙΑΣ            1118
ΛΑΡΙΣΑΣ             1479
ΛΑΣΙΘΙΟΥ             250
ΛΕΣΒΟΥ               728
ΛΕΥΚΑΔΟΣ             165
ΜΑΓΝΗΣΙΑΣ            727
ΜΕΣΣΗΝΙΑΣ           2406
ΞΑΝΘΗΣ               537
ΠΕΛΛΑΣ               494
ΠΙΕΡΙΑΣ              449
ΠΡΕΒΕΖΗΣ             281
ΡΕΘΥΜΝΟΥ             611
ΡΟΔΟΠΗΣ              755
ΣΑΜΟΥ                750
ΣΕΡΡΩΝ               377
ΤΡΙΚΑΛΩΝ             372
ΦΘΙΩΤΙΔΑΣ            550
ΦΛΩΡΙΝΑΣ             163
ΦΩΚΙΔΟΣ              143
ΧΑΛΚΙΔΙΚΗΣ            79
ΧΑΝΙΩΝ               747
ΧΙΟΥ                 299
Name: total_firefight_personel, dtype: int64

## Top 5 fire incidents where big number of firefight personel was used!

In [41]:
df.sort_values(by ='total_firefight_personel', ascending=False).head(5)

,Fire_department,region,start_date,start_time,end_date,end_time,borough,extinguish_time,extinguish_date,total_burned_acres,total_firefight_personel,total_terrestrial_forces,total_aerial_forces
31,12ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,2018-07-23,2019-07-17 16:49:00,2018-09-10,2019-07-17 09:04:00,Δ. ΠΕΝΤΕΛΗΣ,-1 days +16:15:00,49,12500.0,792,84,0
6409,Π.Υ. ΧΑΛΚΙΔΑΣ,ΕΥΒΟΙΑΣ,2018-08-12,2019-07-17 15:07:00,2018-08-21,2019-07-17 20:38:00,Δ. ΔΙΡΦΥΩΝ - ΜΕΣΣΑΠΙΩΝ,05:31:00,9,5800.0,599,118,12
6065,Π.Υ. ΣΥΚΙΩΝΟΣ - ΚΙΑΤΟΥ,ΚΟΡΙΝΘΙΑΣ,2018-07-23,2019-07-17 17:20:00,2018-08-02,2019-07-17 20:00:00,Δ. ΞΥΛΟΚΑΣΤΡΟΥ-ΕΥΡΩΣΤΙΝΗΣ,02:40:00,10,10000.0,218,38,9
6881,Π.Υ. ΣΑΜΟΥ,ΣΑΜΟΥ,2018-09-08,2019-07-17 20:27:00,2018-09-14,2019-07-17 22:00:00,Δ. ΣΑΜΟΥ,01:33:00,6,1450.0,210,51,7
4313,Π.Κ. ΘΕΡΜΟΥ,ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ,2018-09-05,2019-07-17 14:20:00,2018-09-08,2019-07-17 21:00:00,Δ. ΘΕΡΜΟΥ,06:40:00,3,25.0,203,19,1

## Number of total burned acres per region

In [58]:
df.groupby('region').total_burned_acres.sum()

region
ΑΙΤΩΛΟΑΚΑΡΝΑΝΙΑΣ      908.76
ΑΡΓΟΛΙΔΟΣ               2.00
ΑΡΚΑΔΙΑΣ              741.29
ΑΡΤΑΣ                 240.61
ΑΤΤΙΚΗΣ             65488.86
ΑΧΑΙΑΣ                491.54
ΒΟΙΩΤΙΑΣ             1395.90
ΓΡΕΒΕΝΩΝ              350.50
ΔΡΑΜΑΣ               1132.25
ΔΩΔΕΚΑΝΗΣΩΝ           308.82
ΕΒΡΟΥ                1073.81
ΕΥΒΟΙΑΣ              7624.17
ΕΥΡΥΤΑΝΙΑΣ              0.00
ΖΑΚΥΝΘΟΥ              555.39
ΗΛΕΙΑΣ               5237.57
ΗΜΑΘΙΑΣ               472.28
ΗΡΑΚΛΕΙΟΥ             801.53
ΘΕΣΠΡΩΤΙΑΣ            141.60
ΘΕΣΣΑΛΟΝΙΚΗΣ         3203.70
ΙΩΑΝΝΙΝΩΝ             335.05
ΚΑΒΑΛΑΣ               447.44
ΚΑΡΔΙΤΣΑΣ            1916.61
ΚΑΣΤΟΡΙΑΣ             940.74
ΚΕΡΚΥΡΑΣ              309.75
ΚΕΦΑΛΛΟΝΙΑΣ          1883.67
ΚΙΛΚΙΣ               6908.41
ΚΟΖΑΝΗΣ              1939.85
ΚΟΡΙΝΘΙΑΣ           10120.95
ΚΥΚΛΑΔΩΝ            10422.13
ΛΑΚΩΝΙΑΣ              992.06
ΛΑΡΙΣΑΣ             24082.22
ΛΑΣΙΘΙΟΥ              254.50
ΛΕΣΒΟΥ                255.32
ΛΕΥΚΑΔΟΣ               24.50
ΜΑΓΝΗΣΙΑΣ             777.51
ΜΕΣΣΗΝΙΑΣ            1137.55
ΞΑΝΘΗΣ               1566.90
ΠΕΛΛΑΣ                568.40
ΠΙΕΡΙΑΣ              1142.52
ΠΡΕΒΕΖΗΣ               98.70
ΡΕΘΥΜΝΟΥ              230.20
ΡΟΔΟΠΗΣ              1562.90
ΣΑΜΟΥ                1508.72
ΣΕΡΡΩΝ               2638.80
ΤΡΙΚΑΛΩΝ              811.78
ΦΘΙΩΤΙΔΑΣ             481.81
ΦΛΩΡΙΝΑΣ             1313.60
ΦΩΚΙΔΟΣ               216.49
ΧΑΛΚΙΔΙΚΗΣ             18.20
ΧΑΝΙΩΝ               3502.74
ΧΙΟΥ                  160.03
Name: total_burned_acres, dtype: float64

## Top 5 worst cases in terms of burned aereas

In [42]:
df.sort_values(by ='total_burned_acres', ascending=False).head(5)

,Fire_department,region,start_date,start_time,end_date,end_time,borough,extinguish_time,extinguish_date,total_burned_acres,total_firefight_personel,total_terrestrial_forces,total_aerial_forces
41,Π.Υ. ΜΕΓΑΡΩΝ,ΑΤΤΙΚΗΣ,2018-07-23,2019-07-17 12:03:00,2018-08-02,2019-07-17 19:30:00,Δ. ΜΕΓΑΡΕΩΝ,07:27:00,10,50650.0,117,53,28
31,12ος Π.Σ. ΑΘΗΝΩΝ,ΑΤΤΙΚΗΣ,2018-07-23,2019-07-17 16:49:00,2018-09-10,2019-07-17 09:04:00,Δ. ΠΕΝΤΕΛΗΣ,-1 days +16:15:00,49,12500.0,792,84,0
6065,Π.Υ. ΣΥΚΙΩΝΟΣ - ΚΙΑΤΟΥ,ΚΟΡΙΝΘΙΑΣ,2018-07-23,2019-07-17 17:20:00,2018-08-02,2019-07-17 20:00:00,Δ. ΞΥΛΟΚΑΣΤΡΟΥ-ΕΥΡΩΣΤΙΝΗΣ,02:40:00,10,10000.0,218,38,9
6409,Π.Υ. ΧΑΛΚΙΔΑΣ,ΕΥΒΟΙΑΣ,2018-08-12,2019-07-17 15:07:00,2018-08-21,2019-07-17 20:38:00,Δ. ΔΙΡΦΥΩΝ - ΜΕΣΣΑΠΙΩΝ,05:31:00,9,5800.0,599,118,12
6605,Π.Κ. ΠΑΡΟΥ,ΚΥΚΛΑΔΩΝ,2018-07-31,2019-07-17 16:42:00,2018-08-09,2019-07-17 07:50:00,Δ. ΠΑΡΟΥ,-1 days +15:08:00,9,4000.0,79,17,4

## Top 5 worst cases in terms of extinguishing days

In [59]:
df.sort_values(by ='extinguish_date', ascending=False).head(5)

,Fire_department,region,start_date,start_time,end_date,end_time,borough,extinguish_time,extinguish_date,total_burned_acres,total_firefight_personel,total_terrestrial_forces,total_aerial_forces
7317,Π.Υ. ΡΕΘΥΜΝΗΣ,ΡΕΘΥΜΝΟΥ,2018-06-10,2019-07-17 07:50:00,2018-10-06,2019-07-17 10:55:00,Δ. ΡΕΘΥΜΝΗΣ,03:05:00,118,0.0,0,0,0
4063,Π.Υ. ΑΙΓΙΟΥ,ΑΧΑΙΑΣ,2018-09-12,2019-07-17 09:08:00,2018-12-13,2019-07-17 10:33:00,Δ. ΑΙΓΙΑΛΕΙΑΣ,01:25:00,92,1.0,14,8,0
4064,Π.Υ. ΑΙΓΙΟΥ,ΑΧΑΙΑΣ,2018-09-12,2019-07-17 14:20:00,2018-12-13,2019-07-17 10:33:00,Δ. ΑΙΓΙΑΛΕΙΑΣ,-1 days +20:13:00,92,0.0,6,5,0
2740,Π.Κ. ΑΝΩ ΑΘΑΜΑΝΙΟΥ,ΑΡΤΑΣ,2018-04-15,2019-07-17 22:42:00,2018-07-15,2019-07-17 23:40:00,Δ. ΚΕΝΤΡΙΚΩΝ ΤΖΟΥΜΕΡΚΩΝ,00:58:00,91,0.0,3,1,0
7875,Π.Κ. ΛΗΞΟΥΡΙΟΥ,ΚΕΦΑΛΛΟΝΙΑΣ,2018-04-07,2019-07-17 17:10:00,2018-07-04,2019-07-17 20:00:00,Δ. ΚΕΦΑΛΛΟΝΙΑΣ,02:50:00,88,3.0,5,3,0